@import "tool/font-size/ptp-14",
        "tool/mixin",
        "tool/function",
        "tool/site-setting";

html {
  min-height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased; //antialiased;
  height: 100%;
  font: 14px/1.4 $font-family;
}

img {
  vertical-align: top;
}


#dad {
  display: flex;
  position: relative;
  padding: 20px;
}

#dad__1 {
  width: 160px;
  padding-right: 24px;
}

#dad__2 {
  flex: 1;
}



/*
## .dad_tag_1
*/

.dad_tag_1 {
  display: block;
  padding: 10px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #CFCFCF;
  box-shadow: 0 1px 2px 0 #DDDDDD;
}

.dad_tag_1.ui-draggable-dragging {
  z-index: 4100;
}

.dad_tag_1.is_star {
  padding-right: 24px;
  background-image: url(../img/tag_1__star.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 24px 14px;
}

.dad_tag_1.is_star.is_on {
  background-image: url(../img/tag_1__star--on.png);
}



/*
## .dad_nav_1
左側ナビゲーション
*/

.dad_nav_1 {
  
}

.dad_nav_1__h1 {
  font-size: 13px;
}

.dad_nav_1__1 {
  margin-top: 12px;
}

.dad_nav_1__items {
  margin-top: 12px;
}

.dad_nav_1__items .dad_tag_1 {
  margin-top: 10px;
}

.dad_nav_1__items .dad_tag_1:first-of-type {
  margin-top: 0;
}



/*
## .dad_list_1
右側メインコンテンツ
*/

.dad_list_1 {
  padding: 20px;
  background-color: #EEE8E1;
  border-radius: 6px;
}

.dad_list_1__items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: -15px -5px 0;
}

.dad_list_1__item {
  margin: 15px 5px 0;
}

.dad_list_1__add {
  width: 190px;
  height: 40px;
  margin: 15px 5px 0;
  padding: 5px;
  background: #725F56;
  box-sizing: border-box;
}

.dad_list_1__add input {
  width: 100%;
  height: 100%;
  padding: 0 6px;
  font-size: 13px;
  /*
  color: #fff;
  background: #725F56;
  */
  box-sizing: border-box;
}



/*
## .dad_category_1
*/

.dad_category_1 {
  position: relative;
  width: 190px;
  background-color: #fff;
}

.dad_category_1__name {
  height: 40px;
  padding: 0 10px;
  color: #fff;
  line-height: 40px;
  background: #725F56 url(../img/category_1--close.png) no-repeat 100% 50%;
  background-size: 25px 7px;
  cursor: pointer;
}

.dad_category_1__name.ui-state-active {
  background-image: url(../img/category_1--open.png);
}

.dad_category_1__content {
  position: relative;
}

.dad_category_1__1 {
  padding: 14px;
  border: solid 1px #725F56;
  border-top: 0;
}

.dad_category_1__items .dad_tag_1 {
  margin-top: 9px;
}

.dad_category_1__items .dad_tag_1:first-of-type {
  margin-top: 0;
}



/*
## .dad_add_1
*/

.dad_add_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 40px;
  font-size: 20px;
  border: dotted 1px #725F56;
  box-sizing: border-box;
  cursor: pointer;
}


